@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i|Lato:300,300i,400,400i,700,700i,900&display=swap');
@import "variables-site/variables-site";
// @import "mixins/mixins-master";
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}
// @import "typography/typography";

.title-spacer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  img {
    margin-top: 1rem;
  }
}

.referable-text {
  text-align: center;
  font-family: $font__main;
  .Arvo {
    font-family: "Arvo", serif;
  }
  .Lato {
    font-family: "Lato", sans-serif;
  }
}

.referable-main-header {
  // margin-top: -2rem;
  .header-main-desktop {
    display: none;
    @include media-breakpoint-up(md) {
      display: inline;
    }
  }
  .header-main-mobile {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  margin-bottom: 310px;
  @include media-breakpoint-up(md) {
    margin-bottom: 250px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 200px;
  }
  width: 100%;
  img {
    width: 100%;
    height:  auto;
    z-index: -1;
  }
  position: relative;
  background-color: $color__background-emphasis;
  .referable-main-header-title {
    background-image: url(../../images/chatbox-homepage-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 5;
    @include media-breakpoint-up(md) {
      background: unset;
      transform: unset;
      top: 38%;
      left: 5%;
      width: 55.5%;
      height: 25.5%;
      padding: 0;
      overflow: hidden;
      text-align: left;
      align-items: flex-start;
      justify-content: space-around;
    }
    z-index: 2;
    h1 {
      margin: 0 1rem 2rem 1rem;
      color:  $color__background-emphasis;
      line-height: $h1-line-height-lg;
      font-size: $h1-size;
      letter-spacing: 1px;
      @include media-breakpoint-up(xs) {
        font-size: calc(#{$h1-size-lg} + .7rem);
        line-height: calc(#{$h1-line-height-lg} + .7rem);
        margin: 0 1.5rem 2.5rem 1.5rem;
      }
      @include media-breakpoint-up(sm)  {
        margin: 0 1.5rem 2.5rem 1.5rem;
        font-size: calc(#{$h1-size-lg} + 1.5rem);
        line-height: calc(#{$h1-line-height-lg} + 1.5rem);
      }
      @include media-breakpoint-up(md) {
        margin: 0;
        font-size: calc(#{$h1-size} - .3rem);
        line-height: calc(#{$h1-line-height} - .3rem);
        color: $color__background-emphasis;
      }
      @include media-breakpoint-up(lg) {
        font-size: $h1-size-lg;
        line-height: $h1-line-height-lg;
      }
      @include media-breakpoint-up(xl) {
        font-size: calc(#{$h1-size-lg} + .5rem);
        line-height: calc(#{$h1-line-height-lg} + .5rem);
      }
    }
    .referable-button {
      padding: .5rem 1rem;
      font-size: calc(#{$font__main-size} - .2rem);
      letter-spacing: 1px;
      border-radius: 3px;
      @include  media-breakpoint-up(xs) {
        font-size: $font__main-size;
        padding: .7rem 1.5rem;
      }
      @include media-breakpoint-up(sm) {
        padding: .9rem  2rem;
        font-size: calc(#{$font__main-size} + .7rem);
      }
      @include media-breakpoint-up(md) {
        padding: .5rem 2rem;
        font-size: $font__main-size;
      }
      @include media-breakpoint-up(lg) {
        padding: .7rem 2.5rem;
        font-size: calc(#{$font__main-size} + .3rem);
      }
      @include media-breakpoint-up(xl) {
        padding: .9rem 2.7rem;
        font-size: calc(#{$font__main-size} + .2rem);
      }
    }
  }
}

.case-study-cards  {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .case-study-card {
    width: 290px;
  }
  @include media-breakpoint-up(sm) {
    width: 90%;
    margin: auto;
  }
  @include media-breakpoint-up(md) {
    width: 84%;
    margin: auto;
  }
  @include media-breakpoint-up(lg) {
    width: 80%;
    .case-study-card {
      flex: 0 0 28%;
      max-width: 28%;
    }
  }
  @include  media-breakpoint-up(xl) {
    width: 70%;
    .case-study-card {
      flex: 0 0 28%;
      max-width: 290px;
    }
  }
  .extra-card {
    width: 290px;
    padding: 1rem;
    margin: 1rem;
    @include media-breakpoint-up(lg) {
      flex: 0 0 28%;
      max-width: 28%;
    }
    @include media-breakpoint-up(xl) {
      max-width: 290px;
    }
  }
}

.case-study-card {
  box-sizing: inherit;
  overflow: hidden;
  background-color: white;
  text-decoration: none;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem;
  min-height: 310px;
  border: 4px solid $color__background-emphasis;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  &:visited {
    color: black;
  }
  box-shadow: 0px 6px 7px #bbbbbb, 0px 3px 3px #b1b1b1;
  .header-card-logo {
    width: 60%;
    z-index: 0;
  }
  .header-card-num {
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: $color__secondary;
    font-weight: 900;
    padding:  1rem 1rem 0.5rem 1rem;
    @include media-breakpoint-up(lg) {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  .header-card-val {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: Arvo, serif;
    letter-spacing: 1px;
    padding: 0 1rem 1rem 1rem;
  }
  .header-card-cta {
    text-transform: uppercase;
    color: black;
    font-size: 1rem;
    font-weight: 500;
  }
}

.main-header-cards {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  overflow-x: auto;
  position: absolute;
  bottom: -340px;
  padding-bottom: 30px;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  .header-card {
    @extend .case-study-card;
    position: relative;
    bottom: 0px;
    transition: bottom 200ms;
    &:hover {
      bottom: -10px;
    }
  }
  @include media-breakpoint-down(md) {
    .header-card {
      min-width: 250px;
      margin: 0 0.6rem;
      &:first-child {
        margin: 0 0.6rem 0 2.5rem;
      }
    }
    .header-card-extra {
      flex: 0 0 2.5rem;
      height: 1px;
    }
  }
  @include media-breakpoint-up(md) {
    .header-card-extra {
      display: none;
    }
    bottom: -230px;
    justify-content: center;
    overflow-x: hidden;
    .header-card {
      margin: 0 1rem;
      flex: 0 0 210px;
      .header-card-num  {
        font-size: 3rem;
        line-height: 3rem;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    bottom: -180px;
    .header-card {
      flex: 0 0 290px;
      .header-card-num {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
  }
}

.grid-module {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 90%;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &.twocol {
      .grid-col  {
        width: 47%;
      }
      .grid-col:nth-child(2n+1):last-child {
        width: 100%;
        margin: 2rem 26.5% 0 26.5%;
      }
      width: 80%;
    }
    &.threecol {
      width: 90%; 
      .grid-col {
        width: 30%;
      }
      .grid-col:nth-child(3n+1):last-child {
        width: 100%;
        margin: 2rem 35% 0 35%;;
      }
    }
    .smalltitle {
      margin: .5rem 1.8rem .8rem 1.8rem;
      justify-content: flex-end;
      display: flex;
      flex-direction: column;
      height: calc(#{$font__main-line-height} * 3);
    }
  }
  @include media-breakpoint-up(lg) {
    &.twocol {
      .grid-col  {
        width: 47%;
      }
      .grid-col:nth-child(2n+1):last-child {
        width: 100%;
        margin: 2rem 26.5% 0 26.5%;
      }
      width: 54%;
    }
    &.threecol {
      width: 67%; 
      .grid-col {
        width: 30%;
      }
      .grid-col:nth-child(3n+1):last-child {
        width: 100%;
        margin: 2rem 35% 0 35%;;
      }
    }
  }
  .smalltitle {
    margin: 1rem 0;
  }
  .grid-col {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    .grid-copy {
      text-align: center;
      letter-spacing: .02rem;
      padding: 0 1.5rem 0 1.5rem;
      font-size: $font__main-size;
      line-height: $font__main-line-height;
    }
    .grid-spacer {
      width: 55px;
    }
  }
}

.referable-button-block {
  padding: 4rem 0;
  text-align: center;
}

.referable-no-contact {
  width: 100%;
  text-align: center;
  .no-contact-row {
    padding: 1rem 10% 4rem 10%;
    div {
      display: inline-block;
      width: 40%;
      text-align: left;
      font-size: calc(#{$font__main-size} + .2rem);
    }
    .no-contact-left {
      padding-right: 1rem;
      font-family: $font__headers;
      font-weight: 600;
    }
    .no-contact-right {
      padding-left: 2rem;
      font-weight: 600;
      font-size: calc(#{$font__main-size} + .05rem);
    }
  }
  &.no-contact-blue {
    .no-contact-right {
      border-left: 1px solid white;
    }
    background-color: #33bee6;
    h1, .no-contact-copy {
      color: white;
    }
  }
  &.no-contact-white {
    .no-contact-right {
      border-left: 1px solid $color__text-main;
    }
  }
}

.row-module {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem;
  color: black;
  box-sizing: border-box;
  div {
    box-sizing: inherit;
  }
  p {
    margin: 0;
  }
  .row-module-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  @include media-breakpoint-up(md) {
    padding: 3rem 3rem;
    .row-module-row {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    &.twothirds-onethird .row-module-row {
      .column-left {
        flex: 3;
      }
      .column-right {
        flex: 1;
      }
    }
    .column-left {
      padding: 0 1rem 0 0;
    }
    .column-right {
      padding: 0 0 0 1rem;
    }
    &.onethird-twothirds .row-module-row {
      .column-left {
        flex: 1;
        padding: 0 1rem 0 0;
      }
      .column-right {
        flex: 3;
        padding: 0 0 0 1rem;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-left: 16%;
    padding-right: 16%;
    .column-left {
      padding: 0 2rem 0 0;
    }
    .column-right {
      padding: 0 0 0 2rem;
    }
    &.threecol .row-module-row div {
      padding: 0 2rem;
    }
  }
  .row-module-header, .row-module-subheader {
    h1 {
      font-weight: 700;
    }
    @include media-breakpoint-up(md) {
      width: 75%;
    }
    text-align: center;
  }
  .row-module-subheader {
    padding-bottom: 1rem;
  }
  &.blue-row {
    background-color: #33bee6;
    color: white;
    margin-top: 3rem;
    h1 {
      color: white;
    }
  }
  @include media-breakpoint-up(md) {
    &.divider {
      .column-left {
        border-right: 1px solid black;
      }
    }
    &.blue-row.divider {
      .column-left {
        border-right: 1px solid white;
      }
    }
    &.threecol.divider {
      .row-module-row div:nth-child(2),
      .row-module-row div:nth-child(3) {
        border-left: 1px solid black;
      }
    }
    &.threecol.blue-row.divider {
      .row-module-row div:nth-child(2),
      .row-module-row div:nth-child(3) {
        border-left: 1px solid white;
      }
    }
  }
  & .row-module-row div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  }
  &.threecol .row-module-row div {
    padding: 0 1rem;
  }
  .Lato {
    font-family: "Lato";  
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
  .Arvo {
    font-family: "Arvo"; 
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }

  img.aligncenter {
    display: block;
    margin: 0 auto;
  }
  img.alignright {
    display: block;
    margin: 0 0 0 auto;
  }
}

.row-2col {
  display: flex;
  flex-direction: column;
  &.text-image {
    flex-direction: column-reverse;
  }
  width: 80%;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    &.text-image {
      flex-direction: row-reverse;
    }
  }
  @include media-breakpoint-up(lg) {
    width: 60%;
  }
  .row-2col-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .row-2col-image, .row-2col-text {
    flex: 1;
    padding: 0 1rem;
  }
  .row-2col-image {
    display: flex;
    &.img-align-bottom {
      align-items: flex-end;
    }
    &.img-align-top {
      align-items: flex-start;
    }
  }
}

.referable-quote-text {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 4rem 0;
  .spacer {
    padding: 1rem 0;
  }
  width: 95%;
  .text-quote-text {
    padding: 0 1rem;
    font-weight: 600;
    p {
      margin: 0;
    }
  }
  .text-quote-quote {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
    font-family: "Arvo", serif;
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 400;
    .quote-background {
      padding: 1rem 1rem 3.5rem 1rem;
    }
    p {
      margin: 1rem 0 0 0;
    }
  }
  @include media-breakpoint-up(sm) {
    width: 70%;
    .text-quote-text {
      padding: 0 0 0 2rem;
      font-size: $font__main-size;
      line-height: $font__main-line-height-lg;
    }
    .text-quote-quote {
      line-height: 1.9rem;
      .quote-background {
        padding: 1rem 1rem 4rem 1rem;
      }
    }
  }
  @include media-breakpoint-up(md) {
    flex-direction: row;
    width: 80%;
    .text-quote-text {
      line-height: $font__main-line-height;
    }
    .text-quote-quote .quote-background {
      padding: 1rem 1rem 4.5rem 1rem;
    }
    &.text-quote {
      flex-direction: row-reverse;
      .text-quote-text {
        padding: 0 2rem 0 0;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .text-quote-quote {
      line-height: 2.3rem;
      font-size: 1.2rem;
      .quote-background {
        padding: 1rem 1rem 5rem 1rem;
      }
    }
    .text-quote-text {
      line-height: $font__main-line-height-lg;
      font-size: $font__main-size;
    }
  }
  @include media-breakpoint-up(xl) {
    width: 65%;
  }
  .text-quote-quote, .text-quote-text {
    flex: 1;
  }
}

.testimonial:nth-of-type(2n) {
  @include media-breakpoint-up(md) {
    background: url('../../images/chat-outline-back.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.testimonial {
  p {
    margin: 0;
  }
  padding: 1rem 1.5rem 5rem 1.5rem;
  margin-bottom: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arvo";
  width: 300px;
  box-sizing: border-box;
  .testimonial-logo {
    display: flex;
    img {
      margin: auto;
    }
    padding: 1rem 1rem;
  }
  .testimonial-content {
    height: 100%;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .testimonial-quote {
      box-sizing: inherit;
      color: black;
      font-size: 1.25rem;
      line-height: 2.2rem;
      width: 100%;
      display: flex;
      align-content: center;
    }
    .testimonial-quoted {
      font-size: 1rem;
      margin-top: 1rem;
    }
    .testimonial-cta {
      a {
        color: #f26923;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-size: 1rem;
        &:hover {
          color: black;
        }
      }
    }
  }
  background: url('../../images/chat-testimonial-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include media-breakpoint-up(sm) {
    width: 320px;
    min-height: 450px;
  }
  @include media-breakpoint-up(md) {
    width: 650px;
    height: 280px;
    min-height: unset;
    flex-direction: row;
    background: url('../../images/chat-outline.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 16px 1rem 54px 1rem;
    .testimonial-logo {
      flex: 1;
    }
    .testimonial-content {
      flex: 3;
      padding: 0 1rem;
      border-left: 1px solid gray;
      .testimonial-quoted {
        margin-top: 0.4rem;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    width: 900px;
    height: 325px;
    padding: 32px 16px 85px 16px;
  }
}

.contact-form-container, div[role='form'].wpcf7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arvo";
  // width: 80%;
  @include media-breakpoint-up(md) {
    // width: 60%;
  }
  @include media-breakpoint-up(lg) {
    width: 400px;
  }
  form {
    align-self: stretch;
  }
  .contact-form-group {
    position: relative;
    &::before {
      content: url(../../images/sideways-spacer.svg);
      position: absolute;
      left: -30px;
      top: 20px;
    }
  }
  .spacer {
    padding: 1.5rem 0;
  }
  .wpcf7-not-valid-tip, .wpcf7-response-output, .wpcf7-validation-errors {
    font-size: .8rem;
    line-height: 1rem;
  }
}