@import url('https://fonts.googleapis.com/css?family=Arvo|Lato:300,300i,400,400i,700,700i,900&display=swap');
// @import "mixins/mixins-master";
@import "variables-site/variables-site";


@media (min-width: 782px) {
  .edit-post-layout.is-sidebar-opened 
  .edit-post-plugin-sidebar__sidebar-layout, 
  .edit-post-layout.is-sidebar-opened .edit-post-sidebar {
    width: 350px;
  }
  .edit-post-layout.is-sidebar-opened .edit-post-layout__content {
    margin-right: 350px;
  }
}

.editor-styles-wrapper, .wp-block {
  color: $color__text-main;
  font-family: $font__main;
	line-height: $font__main-line-height;
}

.block-editor-block-list__layout {
  padding-left: 30px;
  padding-right: 10px;
  @import "typography/typography";
}

.wp-block {
  max-width: 800px;
}

.editor-post-title__input {
  height: unset !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.edit-post-visual-editor {
  padding: 40px 0;
}