html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

#page {
	min-height: 100vh;
	position: relative;
}

hr {
	background-color: $color__background-hr;
	height: 2px;
	margin-bottom: 1.5em;
}

#primary {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.entry-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	& > p, & > h1, & > h2, & > h3, & > h4, & > table {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

.entry-header, .entry-summary, .entry-thumbnail, .page-header {
	width: 80%;
	margin: 0 auto;
	img {
		max-height: 400px;
		width: auto;
	}
}



@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1rem 0; /* Extra wide images within figure tags don't overflow the content area. */
}
