@import 'hamburger-toggle';

.top-nav {
  height: 4rem;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 0;
  background-color: white;
  box-shadow: 0 3px 10px #D3D3D3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 5;
  align-items: center;
  text-transform: uppercase;
  .menu-brand {
    padding: 0 1rem;
    height: 100%;
  }
  .menu-brand .brand-image {
    max-height: 100%;
    height: 100%;
  }
  #topnav-menu {
    position: relative;
    width: 100%;
    background-color: white;
    transform: translateY(calc(-100% - 4rem));
    transition: transform .7s linear, background-color .2s  linear;    
    z-index: 10;
    height: 100vh;
    margin: 0;
    padding: 0;
    li {
      display: block;
      padding: 1rem 2rem;
      text-align: center;
    }
  }
  a {
    color: $color__menu-link;
    &:visited {
      color: $color__menu-link-visited;
    }
    &:hover {
      color: $color__menu-link-hover;
    }
  }

  #topnav-menu.open-nav {
    transform: translateY(0);
  }
}

  @include media-breakpoint-up(md) {
    .top-nav {
      flex-wrap: nowrap;
      #topnav-menu {
        transform: unset;
        height: unset;
        transition: unset;
        width: unset;
        li {
          display: inline-block;
        }
      }
      .menu-brand {
        padding-left: 2rem;
      }
    }
  }

  //toggler
.top-nav .toggler {
  z-index: 20;
  .menu-toggle {
    border: 0;
    padding-right: 2rem;
    background: white;
    height: 4rem;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.top-nav .menu-toggle:focus, .top-nav ul:focus {
  outline: none;
}

#primary {
  padding-top: 4rem;
}