body {
	font-weight: 400;
}

p {
	margin: 1rem 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;

}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

h1, h2, h3, h4, h5, 
.h1, .h2, .h3, .h4, .h5 {
	color: $color__text-header;
	font-family: $font__headers;
	font-weight: 400;
	clear: both;
	margin: .2rem 0;
}

h1, h2, h3, h4, h5 {
	color: $color__text-header;
}

h1, .h1, .msh4 {
	font-size: $font-msh-4;
	line-height: $line-msh-4;
	margin: .5rem 0;
}

h2, .h2, .msh3 {
	font-size: $font-msh-3;
	line-height: $line-msh-3;
}

h3, .h3, .msh2 {
	font-size: $font-msh-2;
	line-height: $line-msh-2;
}

h4, .h4, .msh1 {
	font-size: $font-msh-1;
	line-height: $line-msh-1;
}

h5, .h5, .msh0 {
	font-size: $font-msh-0;
	line-height: $line-msh-0;
}

// .smalltitle {
// 	text-transform: uppercase;
// 	color: $color__text-header;
// 	letter-spacing: .1rem;
// 	font-weight: 550;
// 	// font-size: $font__main-size;
// 	line-height: $font__main-line-height;
// }

.mst-1, .small {
	font-size: $font-mst--1;
	line-height: $line-mst--1;
}

.mst0 {
	font-size: $font-mst-0;
	line-height: $line-mst-0;
}

.mst1 {
	font-size: $font-mst-1;
	line-height: $line-mst-1;
}